<div class="accont-panel">
  <form [formGroup]="formAccount" class="form-panel">
    <section>
      <div>
        <label for="name" class="labels">Nome:</label>
        <input
          [ngClass]="!isEdit? 'form-control-plaintext':'form-control'"
          id="name"
          type="text"
          formControlName="name"
          [readonly]="!isEdit"
        />
      </div>
      <div>
        <label for="phone" class="form-label">Telefone</label>
        <input
          [ngClass]="!isEdit? 'form-control-plaintext':'form-control'"
          id="phone"
          type="text"
          formControlName="phone"
          [readonly]="!isEdit"
        />
      </div>
      <div class="row-input">
        <span for="birthDate" class="form-label">Data de nascimento: </span>
        <p>{{formAccount.controls['birthDate'].value}}</p>
      </div>
      <div class="row-input">
        <span for="cpf" class="form-label">CPF: </span>
        <p>{{formAccount.controls['cpf'].value}}</p>
      </div>
      <div class="row-input">
        <label for="gender" class="form-label">Gênero: </label>
        <p>{{formAccount.controls['gender'].value}}</p>
      </div>
    </section>
  </form>

  <form [formGroup]="formPassword" class="form-panel">
    <div *ngIf="!isEdit" class="btn-position">
      <button class="btn btn-outline-warning" (click)="editForm()">Editar Informações</button>
    </div>
    <div *ngIf="isEdit" class="btn-position">
      <button class="btn btn-outline-danger" (click)="cancelEditForm()">Cancelar</button>
      <button
        class="btn btn-outline-success "
        [ngClass]="validationSaveBtn()? '': 'disabled'"
        (click)="saveEditAccount(formAccount, formPassword)">Salvar Informações</button>
    </div>

    <section *ngIf="isEdit">
      <div>
        <label for="password" class="form-label">Senha atual:</label>
        <input
          [ngClass]="!isEditPassword? 'form-control-plaintext':'form-control'"
          id="password"
          type="password"
          formControlName="password"
          [readonly]="!isEditPassword"
          (change)="verifyPassword($event)"
        />
      </div>
      <div *ngIf="isEditPassword">
        <label for="newPassword" class="form-label">Nova sernha:</label>
        <input
          [ngClass]="!isEditPassword? 'form-control-plaintext':'form-control'"
          id="newPassword"
          type="password"
          formControlName="newPassword"
          [readonly]="!isEditPassword"
        />
      </div>
      <div *ngIf="isEditPassword">
        <label for="confirmNewPassword" class="form-label">Repita a sernha:</label>
        <input
          [ngClass]="!isEditPassword? 'form-control-plaintext':'form-control'"
          id="confirmNewPassword"
          type="password"
          formControlName="confirmNewPassword"
          [readonly]="!isEditPassword"
        />
      </div>
      <div class="btn-position">
        <button class="btn btn-outline-warning mt-2" (click)="editPassword()">Alterar Senha</button>
      </div>
    </section>
  </form>
</div>

<div class="mt-3 mb-3">
  <div class="row">
    <h2 class="col-8">Endereços</h2>
    <button class="btn btn-lg col-4" (click)="activateCreateAddress()">Adicionar</button>
  </div>
  <div class="row">
    <ng-container *ngIf="customer.addresses.length == 0 && !isAddressCreating">
      <div class="d-flex">
        <p>Ops, parece que você não tem nenhum endereço cadastrado, <button class="btn btn-link" (click)="activateCreateAddress()">cadastre um agora!</button></p>
      </div>
    </ng-container>

    <ng-container *ngIf="isAddressCreating">
      <form [formGroup]="formAddress" (ngSubmit)="createAddress()">
        <div class="row">
          <div class="col-2">
            <label for="addressType" class="form-label">Tipo de Residência:</label>
            <input type="text" class="form-control" id="addressType" formControlName="addressType" required>
          </div>
          <div class="col-2">
            <label for="cep" class="form-label">CEP:</label>
            <input type="text" class="form-control" id="cep" formControlName="CEP" [mask]="'00000-000'" required>
          </div>
          <div class="col-2">
            <label for="state" class="form-label">Estado:</label>
            <select name="state" id="state" class="form-select" formControlName="state" required>
              <ng-container *ngFor="let state of stateList">
                <option [value]="state.sigla">{{state.sigla}}</option>
              </ng-container>
            </select>
          </div>
          <div class="col-4">
            <label for="city" class="form-label">Cidade:</label>
            <input type="text" class="form-control" id="city" formControlName="city"  required>
          </div>
          <div class="col-2">
            <label for="country" class="form-label">País:</label>
            <input type="text" class="form-control" id="country" formControlName="country" required>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <label for="number" class="form-label">Número:</label>
            <input type="number" class="form-control" id="number" formControlName="number" required>
          </div>
          <div class="col-7">
            <label for="district" class="form-label">Bairro:</label>
            <input type="text" class="form-control" id="district" formControlName="district" required>
          </div>
          <div class="col-3">
            <label for="streetType" class="form-label">Tipo de Logradouro:</label>
            <input type="text" class="form-control" id="streetType" formControlName="streetType" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="street" class="form-label">Logradouro:</label>
            <input type="text" class="form-control" id="street" formControlName="street" required>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="description" class="form-label">Observações:</label>
            <input type="text" class="form-control" id="description" formControlName="description">
          </div>
        </div>
        <div class="row mt-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-outline-success">Salvar</button>
            <button class="btn btn-outline-danger" (click)="cancelAddressForm()">Cancelar</button>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
</div>
