::ng-deep.form-control {
  width: 80% !important;
}

::ng-deep.form-label {
  width: 30% !important;
}

.form-panel {
  display: flex;

}

.form-section {
  width: 50%;
}

.row-input {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  margin-top: 3vh;
}
