<div class="panel w-100 h-100 p-4">
  <div>
    <h2>Login</h2>
  </div>
  <div class="login-form">
    <form #logForm="ngForm" (ngSubmit)="sendLogin()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="login.email" name="email" type="email" class="form-control" id="email" placeholder="email@email.com"  required email>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input [(ngModel)]="login.password" name="password" type="password" class="form-control" id="password" placeholder="password" required>
      </div>
      <div>
        <button type="submit" class="button button-orange" >ENTRAR</button>
        <button (click)="redirectToCreateAccount()" class="button button-orange" >CRIAR CONTA</button>
      </div>

    </form>
  </div>
</div>
