<div>
  <ng-container>
    <div class="d-flex justify-content-between">
      <h3>Categorias de Produto</h3>
      <button class="btn btn-outline-success" (click)="newCategory()">Novo Produto</button>
    </div>
    <section class="mt-3" *ngIf="isCategory">
      <form class="d-flex justify-content-between" [formGroup]="formCategory">
        <div class="d-flex gap">
          <label for="name" class="form-label">Nome:</label>
          <input
            class="form-control"
            type="text"
            id="name"
            formControlName="name"
            placeholder="Nome da Categoria"
          >
        </div>
        <button
          class="btn btn-outline-success"
          (click)="createCategory(formCategory)"
          > Salvar
        </button>
      </form>
    </section>
  </ng-container>
  <ng-container *ngFor="let category of formCategoryList; let i = index">
    <form [formGroup]="category">
      <section class="mt-2 d-flex justify-content-between">
        <div>
          <label for="name" class="form-label"></label>
          <input
          type="text"
          id="name"
          formControlName="name"
          [ngClass]="category.controls['categoryEdit'].value? 'form-control': 'form-control-plaintext'">
        </div>
        <div class="d-flex gap">
          <button *ngIf="category.controls['categoryEdit'].value" class="btn btn-outline-success" (click)="updateCategory(category)">Salvar</button>
          <button class="btn btn-outline-warning" (click)="editCategory(i)">Editar</button>
          <button class="btn btn-outline-danger" (click)="deleteCategory(category)">Remover</button>
        </div>
      </section>
    </form>
  </ng-container>
</div>
