<div class="vh-100">
  <nav class="navbar top-bar navbar-light bg-light">
    <div class="container">
      <!-- <img src="./../assets/EletroStock.svg"> -->
      <div class="links">
        <a class="btn" routerLink="/products">Productos</a>
        <a class="btn" routerLink="/transactions">Transações</a>
        <a class="btn" routerLink="/configuration">Configuração</a>

        <a class="btn" routerLink="">Início</a>
        <a class="btn" routerLink="/cart">Meu Carrinho</a>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>Conta</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a routerLink="/perfil" ngbDropdownItem>Perfil</a>
            <a routerLink="/login" ngbDropdownItem>Sair</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="h-100 w-100 color">
    <div class="container h-100" style="padding-top: 6rem;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


