<div class="bg-white p-4 container w-100 h-100">
  <ng-container>
    <section *ngIf="addStock">
      <form [formGroup]="stockForm">
        <div class="col-3">
          <label for="sourceName" class="form-label"><h4>Nome</h4></label>
          <input
            type="text"
            class="form-control-plaintext"
            id="sourceName"
            formControlName="sourceName"
            readonly
          />
        </div>
        <div class="row mt-2">
          <div class="col-3">
            <label for="quantity" class="form-label"
              ><h4>
                Quantidade <br />
                em estoque
              </h4></label
            >
            <input
              type="text"
              class="form-control"
              id="quantity"
              formControlName="quantity"
            />
          </div>
          <div class="col-3">
            <label for="value" class="form-label"
              ><h4><br />Valot Total</h4></label
            >
            <input
              type="text"
              class="form-control"
              id="value"
              formControlName="value"
            />
          </div>
        </div>
        <div>
          <button
            (click)="addNewStock(stockForm)"
            class="btn btn-outline-success mt-2 mb-3"
          >
            Adicionar Estoque
          </button>
        </div>
      </form>
    </section>

    <table class="w-100">
      <thead>
        <tr class="divisor">
          <th class="col-4">Nome</th>
          <th class="col-4">Quantidade em estoque</th>
          <th class="col-4">Valot Total</th>
        </tr>
      </thead>
      <tbody class="mt-2">
        <tr *ngFor="let stock of stockFormList; let i = index" class="divisor">
          <td class="col-4">{{ stock.controls["sourceName"].value }}</td>
          <td class="col-4">{{ stock.controls["quantity"].value }}</td>
          <td class="col-4">{{ stock.controls["value"].value }}</td>
          <td class="col-3">
            <button (click)="addStocks(i)" class="btn btn-outline-success mt-2">
              Adicionar Estoque
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
