<div class="bg-white w-100 h-100 p-4">
  <h1>Configurações</h1>
  <div class="sides pt-4">
    <div class="link-display">
      <button class="btn btn-text-display" routerLink="./">Bandeiras de Cartão</button>
      <button class="btn btn-text-display" routerLink="./products-categories">Categorias de Produtos</button>
      <button class="btn btn-text-display" routerLink="./cupons-config">Cupons</button>
      <button class="btn btn-text-display" routerLink="./price-categories">Categorias de Precificação</button>
      <button class="btn btn-text-display" routerLink="./categories-inativations">Categorias de Inativação</button>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
