.sides{
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.link-display{
  display: grid;
  padding: 1rem;
  gap: 1rem;
  border-right: solid 1px #f8f8f8;
  border-radius: 20px;
  width: 80%;
}

.divisor{
  height: 0px;
  border: solid 0.5px #f8f8f8;
}

.btn-text-display{
  text-align: inherit;

}
